<h2>Developed By RythenGlyth</h2>
<h3>All Assets from official Epic Games/Fortnite Api or GameFiles of client (parsed with JohnWickParse).</h3>
<h3>Contact me via:</h3>
<ul>
    <li>
        <a href="http://discord.me/rythenglyth">Discord: RythenGlyth@9221</a>
    </li>
    <li>
        <a href="http://twitter.com/rythenglyth">Twitter: @rythenglyth</a>
    </li>
</ul>